@model IEnumerable<EMSENTITIES.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateRegistration")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRegistration", new {registrationID=item.RegistrationID }) |
            @Html.ActionLink("Delete", "DeleteRegistration", new { registrationID=item.RegistrationID })
        </td>
    </tr>
}

</table>
